.result{
	border: 2px solid #ddd;
	margin-top: -2px;
	width: 700px;
	height: 100px;
	padding: 10px;
}
.itemname{
	font-size: 1.5em;
	margin-bottom: 10px;
}
.price{
	font-size: 1.2em;
	color: red;
}
.shopname{
	border-bottom:1px solid blue;
	color: blue;
}