<script type="text/ejs" id="template1">
	[% for(var i = 0; i < listData.length; i++) { %]
		<div class="result">
			<span class="itemname">[%= listData[i].itemname %]</span>
			<br><br>
			<span class="label">最安値</span><span class="price"> ￥[%= listData[i].price %]</span>
			<br><br>
			<span class="shopname">[%= listData[i].shopname %]</span>
		</div>
	[% } %]
</script>