@charset "utf-8";


html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B833A;
    margin: 10px;
    width: 950px;
    padding: 0;
}

header,div,footer {
    margin: 0;
    padding: 0;
    border: none;
}


header {
    color: white;
}

header img {
    vertical-align: bottom;
}


/* --------- [begin] Header Global Navigation --------- */


/* --- Main --- */

header nav {
    display: inline-block;
    padding: 0;
    margin: 0 0 10px 30px;
    vertical-align: bottom;
}

.globalNavMain {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
}

.globalNavMain li {
    margin: 0;
    padding: 0;
    width: 95px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
}

.globalNavMain li:hover {
    background-color: #cfefd5;
    border-radius: 5px;
}


.globalNavMain span.comingSoon {
	display: inline-block;
	width: 95px;
    background-color: #2B833a;
    color: #599e64;
}

.globalNavMain li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.globalNavMain li a:hover {
    color: black;
}

.globalNavMain .headerDownload a {
    background-color: #fff;
    color: #e3632c;
    border-radius: 5px;
}


/* --- Sub --- */

.globalNavSub {
    margin: 0 0 20px 300px;
    padding: 0;
    font-family: "Courier New", serif;
}

.globalNavSub li {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}

.globalNavSub li:hover {
    background-color: #cfefd5;
    border-radius: 5px;
}

.globalNavSub li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.globalNavSub li a:hover {
    color: black;
}

/* --------- [end] Header Global Navigation --------- */


#contents {
    background-color: #fff;
    width: 930px;
    line-height: 1.5;
    padding: 20px 0 20px 20px;
}


.info {
    padding: 0 20px;
}


#globalFooterNav {
    font-family: "Times New Roman", serif;
	margin-top: 20px;
}

#globalFooterNav ul{
    padding: 0;
    border-radius: 10px;
    background-color: #cfefd5;
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 auto;
    width: 740px;
}

#globalFooterNav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}

#globalFooterNav ul li a {
    color: #2B833a;
    display: inline-block;
   text-decoration: none;
   width: 100%;
   height: 100%;
   font-weight: 700;
}

#globalFooterNav ul li a:hover {
    color: blue;
}

#globalFooterNav .comingSoon {
	color: #a5cca8;
}

footer {
	font-size: small;
    width :100%;
    text-align: center;
    color: white;
}

.footerCopyright {
    color:black;
}

.notices {
    width: 100%;
    padding: 0;
}

.notices li {
    display: inline-block;
    margin: 0 10px;
}

.notices li:before {
    content: url("../images/footerNoticeArrow.png");
    vertical-align: middle;
}

.notices li a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.notices li a:hover {
    color: black;
}

.topContentsGround {
    padding-top: 20px;
    background-color: white;
}

.topContentsGroundImage {
    vertical-align: bottom;
}

a img {
    border-style: none;
}
