[% for(var i = 0, len = entry.length; i < len; i++) { %]
[% var group = entry[i].media$group;
   var title = group.media$title.$t;
   var id = entry[i].id.$t;
   var player = 'http://www.youtube.com/embed' + id.substring(id.lastIndexOf('/'), id.length);
 %]

<li class="list">
	<div class="listContainer">
		<div class="videoContainer">
			<div class="videoFrame">
				<iframe class="video" src="[%= player %]" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="summary">
			<div class="titleContainer">
				<a class="title" href="[%= group.media$player[0].url %]" title="[%= title %]">[%= title %]</a>
			</div>
			<div class="count">
				<span class="viewCount">[視聴数]</span> [%= entry[i].yt$statistics.viewCount %]
				<span class="favoriteCount">[お気に入り数]</span> [%= entry[i].yt$statistics.favoriteCount %]
			</div>
			<div class="description">
				[%= $.trim(group.media$description.$t) %]
			</div>
		</div>
	</div>
</li>

[% } %]