@charset "utf-8";

#load {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background-color: #FF8C00;
	background: -moz-linear-gradient(
		top,
		#ffdd33 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffdd33),
		to(#ab0000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

#clear {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background-color: #008000;
	background: -moz-linear-gradient(
		top,
		#d1f0dc 0%,
		#149e19);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#d1f0dc),
		to(#149e19));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #007d08;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}


#save {
	margin: 0 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background-color: #0000FF;
	background: -moz-linear-gradient(
		top,
		#a6e0ff 0%,
		#000eab);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#a6e0ff),
		to(#000eab));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}


.browserNotification {
	display: none;
}

.pageTitle {
    text-align: center;
    font-size: 24px;
}

#mainPage {
	background-image: none;
	background-color: #FFFFFF;
}

#snapshotContainer {
	border: 1px solid green;
	margin: 0 20px 10px;
	padding-bottom: 10px;
}

#backgroundImgContainer {
	border: 1px solid;
	margin: auto;
	padding-bottom: 10px;
}

.backgroundPiece {
	display: inline-block;
	border: 2px solid;
	width: 130px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
}

#sketchContainer {
	width: 100%;
	height: 600px;
	border: 1px solid;
	margin: auto;
}

/* ペンの設定のdiv */
#sketchTool {
	-webkit-transform-origin:0 0;
    position: absolute;
	left: 0;
}

#sketchTool #handle{
    cursor: pointer;
    border-top: 1px solid #ccc;
    border-right: 1px solid #999;
    border-left: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px #E7E7E7;
	height: 50px;
	width: 60px;
	background-color: #AAA;
}
#sketchTool .lineTool {
	clear:both;
	height: 60px;
	overflow:hidden;
}

#sketchTool button{
	background-color: #EEE;
    border-top: 1px solid #ccc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #ccc;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    color: #000000;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px #E7E7E7;

	float: left;
	height: 60px;
    width: 60px;
}

#sketchTool button.on{
	background-color: #EEE;
	color: #000;
	border: 5px inset #ccc;
}
#sketchTool button.off{
	min-heigh: 60px;
	background-color: #555;
	color: #222;
}

#sketchTool .toolContents{
	min-height: 60px;
	line-height: 60px;
	margin-left: 60px;
	background-color: rgba(100,100,100,0.5);
	display: none;
}
#lineWidthValue {
	width: 20px;
}
.snapshot {
	display: inline-block;
	border: 2px solid;
	width: 100px;
	margin-left: 10px;
	margin-top: 10px;
}

/* このクラスは .backgroundPiece, .snapshot より後になければならない */
.backgroundPieceSelected {
	border: 2px red solid;
}


.right {
	float: right;
}

.clear {
	clear: both;
}

.lineColorPiece {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px gray solid;
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

.centering {
	vertical-align: middle;
}

.lineColorSelected {
	border: 5px gray solid;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: gray;
    height:2px;
    position: relative;
	top: -6px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: gray;
    height: 50px;
    width: 30px;
}

.command {
	padding: 30px 0;
	font-size: 24px;
}